body {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);al-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    font-family: calibri;
    font-weight: 600;
    
	
}

.main__content{
    margin: 0 auto;
    
}

.navigation{

    position: sticky;
    top:0;
    height: 60px; 
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    opacity: 70%;
    background-color: rgb(17, 16, 16);

     
} 

.navigation__box {
    max-width: 1200px;
    
}

.navigation__box--button {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border-bottom: 3px solid black;
    font-size: 16px;
    border-radius: 10px;
    opacity: 1000%;
    color:white;
    text-decoration: none;
    
}

.head {
   
    padding: 20px;
    height: 100vh;
    
}

.head__box{
    
    margin: 0px auto;
    
    padding: 28px;
    border-radius: 20px;
    max-width: 1200px;
}

.head__box--title{
    font-weight: 800;
    font-size: 40px;
    border-bottom: 2px solid black;
  
   
    
}

.head__box--surprise {
    font-size: 60px;
    color: white;
}




.head__box--button {
    
    padding:20px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 20px;
    background-color: white;
    
}

.experience {
   
    padding: 20px;
    min-height: 100vh;
    
    
    
}

.experience__box{
    
    margin: 30px auto;
    max-width: 1200px;
    display: flex;
    
    
}

.experience__box--work {
    background-color: aliceblue;
    margin: 20px 10px;
    padding:20px;
    border-radius: 20px;
    font-weight: 400;
    font-size: 16px;
   
   
}


.experience__box--work--title-work {
    
}


.experience__box--work--description {
    
}

h2{
    font-size: 40px;
    font-family: 800;
    
    
}

.skills {
  
    padding: 20px;
    min-height: 50vh;
    
   
}

.skills__box{
    
    margin: 50px auto;
    max-width: 1200px;

}

.skills__box--all{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 400;
    border-radius: 20px;;
    
}

.courses{
    
    padding: 20px;
    min-height: 50vh;
    margin: 0px auto;
    

}
.course__box{
    
    margin: 50px auto;
    max-width: 1200px;
    
}

.courses__box--additional-sills{
    padding: 20px;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 300;
    background-color: aliceblue;

}

.projects{
 
    padding: 20px;
    min-height: 50vh;
  
  
    
}

.projects__box{
    
    margin: 50px auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    

}
.projects__box--link {
    
    padding: 20px;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 300;
    background-color: aliceblue;
    margin: 30px 10px;
    text-decoration: none;
    
    
}

.contact {
    
    padding: 20px;
    min-height: 50vh;
   
    
}

.contact__box{
    max-width: 1200px;
    margin: 00px auto;
}

.contact__box--data{
    
    margin: 50px auto;
 
    padding: 20px;
    border-radius: 20px;
    font-size: 26px;
    font-weight: 300;
    background-color: aliceblue;
}


footer {
     padding: 10px;
    margin: 0 auto;
    
}

.footer__content {
    

    max-Width:300px;
    padding: 20px;
    border-radius: 20px;
    margin: 0 auto;
}