body {
    background: #fefefe;
    font-family: calibri;
    font-weight: 600;
    
	
}

.main-content{

}

.navigation{
    font-size: 16px;
    background-color: bisque;
    height: 90px;
    
} 

.navigation__box {
    width: 700px;
    margin: 50px auto;
}

.navigation__box--button {
    padding: 50px;
    background-color: aquamarine;
    border-bottom: 3px solid black;
    width: 700px;
    margin: 50px auto;

}

.head {
    background-color: #99dfd0;
    padding: 20px;
    height: 100vh;
    
}

.head__box{
    width: 900px;
    margin: 50px auto;
}

.head__box--title{
    font-weight: 800;
    font-size: 40px;
    border-bottom: 2px solid black;
  
   
    
}

.head__box--surprise {
    font-size: 60px;
    color: white;
}




.head_button {
    background-color: rgb(218, 150, 150);
    width: 400px;
    padding:60px;
    border-radius: 20px;
    font-weight: 800;
    font-size: 30px;
    
}

.experience {
    background-color: #ebe48b;
    padding: 20px;
    height: 100vh;
    
    
}

.experience__box{
    width: 1200px;
    margin: 30px auto;
    display: flex;
}

.experience__box--work {
    
    width:300px;
    margin: 0px 20px;
    

}


.experience__box--work--title-work {
    
}


.experience__box--work--description {
    
}

h2{
    font-size: 40px;
    font-family: 800;
    width: 300px;
    margin: 30px auto;
}

.skills {
    background-color: #bb785e;
    padding: 20px;
    height: 50vh;
    width: 100%;
   
}

.skills__box{
    width: 900px;
    margin: 50px auto;
}

.skills__box--all{
    
}

.courses{
    background-color: #d87fd1;
    padding: 20px;
    height: 50vh;
    

}
.course__box{
    width: 900px;
    margin: 50px auto;

}

.courses__box--additional-sills{

}

.projects{
    background-color: #9fe791;
    padding: 20px;
    height: 50vh;
  
    
}

.projects__box{
    width: 700px;
    margin: 50px auto;

}
.projects__box--link {
    padding: 20px;
    
    
}

.contact {
    background-color: #c6cfcf;
    padding: 20px;
    height: 50vh;
    
}

.contact__data{
    width: 600px;
    margin: 50px auto;
    background-color: rgb(162, 177, 187);
    padding:40px;
}


footer {
    background-color: #5cec30;
    padding: 20px;
    
}

.footer__content {
    
    margin: 60px auto;
    background-color: #d87fd1;
    Width:300px;

}